.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

// ProjectCard component
.reversed {
  flex-direction: row-reverse;
  align-items: flex-end;
  text-align: right;
  justify-content: flex-end;
}

.container {
  display: flex;
  gap: 4rem;
  align-items: center;

  .project-content {
    display: flex;
    flex-direction: column;
    flex: 0.75;
    gap: 3rem;
  }

  .project-subcontent {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .project-image {
    flex: 1;
    img {
      width: 100%;
    }
  }
}

// Main link
.styled-link {
  margin-top: 7rem;
  color: var(--accent-color);
  font-size: 2rem;

  &:hover {
    color: var(--tertiary-color) !important;
  }

  &:visited {
    color: var(--accent-color);
  }
}

// Hero section
.hero {
  margin-top: 18rem;
}

// Recent Posts container
.post-container {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;

  .title {
    color: var(--foreground-color);
    flex: 1;
  }

  &:hover {
    text-decoration: underline;
    color: var(--accent-color);
  }
}

.skills-container {
  display: flex;
  align-items: center;
  gap: 6rem;

  .item {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 2rem;

    .box {
      height: 7.4rem;
      width: 7.4rem;
      background: var(--background-accent-color);
      border-radius: 1rem;
    }

    .heading {
      color: var(--foreground-color);
      font-weight: bold;
      flex: 1;
    }
  }
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;

  p {
    max-width: 800px;
    text-align: center;
    margin-bottom: 3rem;
  }
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .project-content {
      align-items: center;
      justify-content: center;
    }
  }

  .reversed {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
