// ProjectCard component
.container {
  img {
    flex: 1;
    width: 100%;
  }
}

// Hero section
.hero {
  margin-top: 12rem;
}

// Recent Posts container
.posts-container {
  margin-top: 1rem;
  width: 100%;
  cursor: pointer;
}
