.skills {
  display: flex;
  align-items: center;
  gap: 6rem;

  .item {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 2rem;

    img {
      max-width: 74px;
      height: 74px;
    }

    .heading {
      color: var(--foreground-color);
      font-weight: bold;
      flex: 1;
    }
  }
}

@media (max-width: 1024px) {
  .skills {
    flex-direction: column;
    .item {
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
  }
}
