.markdown-title {
  width: 100%;
  margin: 4rem 0;

  .markdown-title-heading {
    display: flex;
    align-items: center;
    h1 {
      flex: 1;
    }
  }
}

@media (max-width: 1024px) {
  .markdown-title-heading {
    align-items: flex-start!important;
    flex-direction: column;
    margin-bottom: 2rem;
  }
}
