:root {
  --max-width: 130rem;
  --background-color: #191724;
  --background-accent-color: #434343;
  --foreground-color: #fff;
  --foreground-accent-color: #a9a9a9;
  --accent-color: #00a0e4;
  --tertiary-color: #18baff;

  --accent-rgb: 0, 160, 228;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(
    ellipse at top,
    rgba(var(--accent-rgb), 0.1) 10%,
    var(--background-color) 100%
  );


  overflow-x: hidden;
  color: var(--foreground-color);
  background-color: var(--background-color);
  font-family: "Poppins", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, sans-serif;
}

.accent {
  color: var(--accent-color) !important;
}

.accent a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: bold;
}

.accent a:hover {
  text-decoration: underline;
}

.accent a:visited {
  color: var(--accent-color);
}

.description {
  line-height: 1.75rem;
  color: var(--foreground-accent-color);
}

.subtext {
  margin-top: 1.25rem;
}

.logo {
  color: var(--foreground-color);
  font-weight: bold;
  font-size: 24px;
}

.icon-link {
  color: var(--foreground-color);
  text-decoration: none;
  cursor: pointer;
}
.icon-link:visited {
  color: var(--foreground-color);
}
.icon-link:hover {
  color: var(--accent-color);
}
