:root {
  --max-width: 130rem;
  --background-color: #fff;
  --background-accent-color: #f5f7f9;
  --foreground-color: #191724;
  --foreground-accent-color: #434343;
  --accent-color: #00a0e4;
  --tertiary-color: #18baff;

  --accent-rgb: 0, 160, 228;

  --background-gradient: radial-gradient(
    ellipse at top,
    rgba(var(--accent-rgb), 0.1) 10%,
    var(--background-color) 100%
  );
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-gradient);
  scroll-behavior: smooth;
  overflow-x: hidden;
  color: var(--foreground-color);
  background-color: var(--background-color);
  font-family: "Poppins", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, sans-serif;
}

.accent {
  color: var(--accent-color) !important;
}

.accent a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: bold;
}

.accent a:hover {
  text-decoration: underline;
}

.accent a:visited {
  color: var(--accent-color);
}

.description {
  line-height: 1.75rem;
  color: var(--foreground-accent-color);
}

.subtext {
  margin-top: 1.25rem;
}

.logo {
  color: var(--foreground-color);
  font-weight: bold;
  font-size: 24px;
}

.icon-link {
  color: var(--foreground-color);
  text-decoration: none;
  cursor: pointer;
}
.icon-link:visited {
  color: var(--foreground-color);
}
.icon-link:hover {
  color: var(--accent-color);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  box-shadow: 0px 0px 15px 0px rgba(var(--accent-rgb), 0.2);
  border: 1px solid rgba(var(--accent-rgb), 0.4);
  border-radius: 1rem;
  background: var(--background-accent-color);
}

.hidden {
  opacity: 0;
  transform: translateY(20%);
}

.shown {
  opacity: 1;
  transition: all 0.75s;
  transform: translateY(0);
}

.img-shown {
  opacity: 1;
  transform: translateY(0);
  transition: all 1s;
}

.reversed {
  flex-direction: row-reverse;
  align-items: flex-end;
  text-align: right;
  justify-content: flex-end;
}

code {
  white-space: pre;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}
.token.punctuation {
  color: #999;
}
.token.namespace {
  opacity: 0.7;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #9a6e3a;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}
.token.function,
.token.class-name {
  color: #dd4a68;
}
.token.regex,
.token.important,
.token.variable {
  color: #e90;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}

.token.attr-name {
  color: rgb(173, 219, 103);
  font-style: italic;
}
.token.comment {
  color: rgb(128, 147, 147);
}
.token.string,
.token.url {
  color: rgb(173, 219, 103);
}
.token.variable {
  color: rgb(214, 222, 235);
}
.token.number {
  color: rgb(247, 140, 108);
}
.token.builtin,
.token.char,
.token.constant,
.token.function {
  color: rgb(130, 170, 255);
}
.token.punctuation {
  color: rgb(199, 146, 234);
}
.token.selector,
.token.doctype {
  color: rgb(199, 146, 234);
  font-style: "italic";
}
.token.class-name {
  color: rgb(255, 203, 139);
}
.token.tag,
.token.operator,
.token.keyword {
  color: #ffa7c4;
}
.token.boolean {
  color: rgb(255, 88, 116);
}
.token.property {
  color: rgb(128, 203, 196);
}
.token.namespace {
  color: rgb(178, 204, 214);
}

code[class*="language-"],
pre[class*="language-"] {
  color: var(--foreground-color);
}
:not(pre) > code[class*="language-"],
pre {
  color: var(--foreground-color);
  font-size: 1.6rem;
  background: var(--background-accent-color);
  border: 1px solid rgba(var(--accent-rgb), 0.1);
  border-radius: 1rem;
  padding: 1rem;
  overflow: auto;
}
.mdx-marker {
  background-color: var(--background-accent-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --max-width: 130rem;
    --background-color: #191724;
    --background-accent-color: #202031;
    --foreground-color: #fff;
    --foreground-accent-color: #a9a9a9;
    --accent-color: #00a0e4;
    --tertiary-color: #18baff;
    --accent-rgb: 0, 160, 228;

    --background-gradient: radial-gradient(
      ellipse at top,
      rgba(var(--accent-rgb), 0.1) 10%,
      var(--background-color) 100%
    );
  }
}
